@font-face {
  src: url("../../assets/fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-family: "Avenir";
  font-weight: 700;
}

@font-face {
  src: url("../../assets/fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-family: "Avenir";
  font-weight: 600;
}

@font-face {
  src: url("../../assets/fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-family: "Avenir";
  font-weight: 500;
}
