.button {
  height: 2.5rem;
  width: 100%;
  max-width: 400px;
  border-radius: 100px;
  background-color: rgba(76, 150, 80, 0.3);
  border: 1px solid #5fdb64 !important;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.25) inset;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #f2ece7;
}
