.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  border-radius: 1.25rem;
  background-color: rgba(242, 236, 231, 0.1);
  border: 1px solid (242, 236, 231, 0.2);
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.25) inset;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moderatedCount {
  font-size: 1rem;
  color: #fff;
}

.word {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;

  text-align: center;
}

.loadingImage {
  width: 100%;
  height: 272px;
  border-radius: 1.25rem;
  background-color: rgba(242, 236, 231, 0.2);
}

.inputs {
  display: flex;
  gap: 0.5rem;
}

.input,
.textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(242, 236, 231, 0.2);

  font-size: 1rem;
  color: #fff;
}

.textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 80px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkboxContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.checkboxLabel {
  font-size: 1rem;
  color: #fff;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
